{%load static%}
<!DOCTYPE html>
<html>
<title>CodeBreakers | Questions!</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.5;
}

.w3-bar .w3-button {
    padding: 10px 10px 5px 8px;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-green w3-card" id="myNavbar">
    <a href="/home" class="w3-wide w3-button" style="font-family: Verdana; font-size:15px;"><img src="{%static 'mylogo.png'%}" style="height:40px; width:40px;">
      CODEBREAKERS</a>
    <div class="w3-right w3-hide-small" style="margin:8px 5px 10px 5px;">>
      <a href="/practice" class="w3-bar-item w3-button"><i class="fa fa-desktop"></i> PRACTICE</a>
      <a href="/leaderboard" class="w3-bar-item w3-button"><i class="fa fa-list"></i> LEADERBOARD</a>
      {% ifnotequal request.session.username 'dishank1' %}<a href="/profile" class="w3-bar-item w3-button"><i class="fa fa-user"></i> PROFILE</a>{% endifnotequal %}
      <a href="/contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
      <a href="/logout" class="w3-bar-item w3-button"><i class="fa fa-power-off"></i> LOGOUT</a>
    </div>
      <a href="javascript:void(0)"  onclick="w3_open()" style="padding:17px;" class="w3-bar-item w3-button w3-hide-large w3-hide-medium w3-right">
      <i class="fa fa-bars"></i> </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large w3-padding-16" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16"><i class="fa fa-close"></i> Close</a>
  <a href="/practice" onclick="w3_close()" class="w3-bar-item w3-button"><i class="fa fa-desktop"></i> PRACTICE</a>
 <!-- <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">COMPETE</a> -->
  <a href="/leaderboard" onclick="w3_close()" class="w3-bar-item w3-button"><i class="fa fa-list"></i> LEADERBOARD</a>
  {% ifnotequal request.session.username 'dishank1' %}<a href="/profile" onclick="w3_close()" class="w3-bar-item w3-button"><i class="fa fa-user"></i> PROFILE</a>{% endifnotequal %}
  <a href="/contact" onclick="w3_close()" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
  <a href="/logout" onclick="w3_close()" class="w3-bar-item w3-button"><i class="fa fa-power-off"></i> LOGOUT</a>
</nav>
<div class="container">
<h2 style="padding-top: 50px;" > AddQuestion: </h2>
  <form action="/add/" method="post">{% csrf_token %}
  <table class="table table-striped" style="font-size:15px;">
      <tr><td>Question_Id:</td><td><input type="text" name="qid" required></td></tr>
      <tr><td>Question_name:</td><td><input type="text" name="qname" required></td></tr>
      <tr><td>Question_Level:</td><td><input type="text" name="qlevel" required></td></tr>
      <tr><td>Question_marks:</td><td><input type="text" name="marks" required></td></tr>
      <tr><td>Input:</td><td><input type="text" name="input" required></td></tr>
      <tr><td>Output:</td><td><input type="text" name="output" required></td></tr>
    </table>
      <input style="font-size: 15px;" class="w3-button w3-green w3-round w3-padding-large w3-margin-top" type="submit" value="Add">
      </form>
  </div>
  <br>
  <br>
  <br>
  <center>
  <h4>
<img src="{%static 'mylogo.png'%}" style="height:40px; width:40px;"><b style="font-family:Verdana;"> CodeBreakers</b></center></h4>
<div class="w3-bar w3-green"><p1 class="w3-right" style="font-family: Verdana; font-size:20px;"><i class="fa fa-facebook"></i>       <i class="fa fa-instagram"></i>       <i class="fa fa-linkedin"></i>       <i class="fa fa-twitter"></i>&nbsp;&nbsp;</p1></div>
<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}


// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
    } else {
        mySidebar.style.display = 'block';
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}
</script>
</body>
</html>