{%load static%}
<!DOCTYPE html>
<html>
<title>CodeBreakers | Home Page!</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.5;
}
/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url({% static 'home.jpg'%});
    min-height:65%;
}
.w3-bar .w3-button {
    padding: 10px 10px 5px 8px;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-green w3-card" id="myNavbar">

    <a href="/home" class="w3-wide w3-button" style="font-family: Verdana; font-size:15px; text-decoration:none;"><img src="{%static 'mylogo.png'%}" style="height:40px; width:40px;">
      CODEBREAKERS</a>
    <!-- Righedclass="active"  navbar links -->
    <div class="w3-right w3-hide-small" style="margin:8px 5px 10px 5px;">
      <a href="/practice" class="w3-bar-item w3-button"><i class="fa fa-desktop"></i> PRACTICE</a>
      <a href="/leaderboard" class="w3-bar-item w3-button"><i class="fa fa-list"></i> LEADERBOARD</a>
      {% ifnotequal request.session.username 'dishank1' %}<a href="/profile" class="w3-bar-item w3-button"><i class="fa fa-user"></i> PROFILE</a>{% endifnotequal %}
      <a href="/contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
      <a href="/logout" class="w3-bar-item w3-button"><i class="fa fa-power-off"></i> LOGOUT</a>
    </div>
    <a href="javascript:void(0)"  onclick="w3_open()" style="padding:17px;" class="w3-bar-item w3-button w3-hide-large w3-hide-medium w3-right">
      <i class="fa fa-bars"></i> </a>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->
  </div>
</div>

<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large w3-padding-16" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16"><i class="fa fa-close"></i> Close</a>
  <a href="/practice" onclick="w3_close()" class="w3-bar-item w3-button"><i class="fa fa-desktop"></i> PRACTICE</a>
 <!-- <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">COMPETE</a> -->
  <a href="/leaderboard" onclick="w3_close()" class="w3-bar-item w3-button"><i class="fa fa-list"></i> LEADERBOARD</a>  {% ifnotequal request.session.username 'dishank1' %}<a href="/profile" onclick="w3_close()" class="w3-bar-item w3-button"><i class="fa fa-user"></i> PROFILE</a>{% endifnotequal %}
  <a href="/contact" onclick="w3_close()" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
  <a href="/logout" onclick="w3_close()" class="w3-bar-item w3-button"><i class="fa fa-power-off"></i> LOGOUT</a>
</nav>


<div class="bgimg-1 w3-display-container">
<div class="w3-display-left" style="padding:33px;"><br><br>
<span class="w3-jumbo w3-hide-small w3-text-white">Think Twice , Code Once !!</span>
<span class="w3-xxlarge w3-hide-large w3-hide-medium w3-leftb w3-text-white" style="padding-bottom:12px;">Think Twice , Code Once !!</span>
<p style="color: #88f050; font-family: Verdana; font-size:20px; padding:10px 0px 15px;">Welcome&nbsp;{{request.session.username}}!!</p>
        {% ifequal request.session.username 'dishank1' %}
        <a href="/addQuestion/" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">AddQuestion</a>
        <a href="/users/" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Users</a>
        {%else%}
        <a href="/practice/" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Let's Code !!</a>
        {% endifequal %}
</div>
</div>
<div class="w3-container"><br>
<h4 class="w3-center w3-hide-medium w3-hide-large" style="text-decoration: underline; font-family:Verdana;">CODEBREAKERS</h4>
<h3 class="w3-center w3-hide-small" style="text-decoration: underline; font-family:Verdana;">CODEBREAKERS</h3>
<h6 class="w3-margin w3-justify w3-hide-medium w3-hide-large" style="font-family:Verdana; line-height:1.7; font-size:15px;">Coding becomes an addiction for many people. your excellent skills in the competitive programming can turn out to be a boon for you during the placement session.But,this is not the only motivating factor.Some people code for FUN instead of JOB. You can keep yourself motivated by finding group of people who absolutely loves the competitive programming, discussing with them, participating with them in team contests. You all will motivate each other in this way.Surround yourself with coding related content, and learn new concepts.</h6>
<h6 class="w3-margin w3-justify w3-hide-small" style="font-family:Verdana; line-height:1.7; font-size:18px; padding:0px 110px 0px 110px">Coding becomes an addiction for many people. your excellent skills in the competitive programming can turn out to be a boon for you during the placement session.But,this is not the only motivating factor.Some people code for FUN instead of JOB. You can keep yourself motivated by finding group of people who absolutely loves the competitive programming, discussing with them, participating with them in team contests. You all will motivate each other in this way.Surround yourself with coding related content, and learn new concepts.</h6>

<br>
</div>
<center>
  <h4>
<img src="{%static 'mylogo.png'%}" style="height:40px; width:40px;"><b style="font-family:Verdana;"> CodeBreakers</b></center></h4>
<div class="w3-bar w3-green"><p1 class="w3-right" style="font-family: Verdana; font-size:20px;"><i class="fa fa-facebook"></i>       <i class="fa fa-instagram"></i>       <i class="fa fa-linkedin"></i>       <i class="fa fa-twitter"></i>&nbsp;&nbsp;</p1></div>
<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}


// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
    } else {
        mySidebar.style.display = 'block';
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}
</script>
</body>
</html>